<footer class="footer">
    <div class="section-container">
        <div class="col">
            <img id="footer-logo" src="images/logo-dark.svg" alt="">
            <div class="icon-link">
                <img src="images/location-icon.png" alt="">
                <a href="#">United States</a>
            </div>
            <div class="icon-link">
                <img src="images/comment-icon.png" alt="">
                <a href="#">English (United States)</a>
            </div>
        </div>
        <div class="col">
            <h3>Products</h3>
            <ul>
                <li><a href="#">Atlas</a></li>
                <li><a href="#">Billing</a></li>
                <li><a href="#">Invoicing</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Checkout</a></li>
                <li><a href="#">Identity</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Use Cases</h3>
            <ul>
                <li><a href="#">eCommerce</a></li>
                <li><a href="#">Saas</a></li>
                <li><a href="#">Marketplace</a></li>
                <li><a href="#">Embedded Finance</a></li>
                <li><a href="#">Crypto</a></li>
                <li><a href="#">Creator Economy</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Resources</h3>
            <ul>
                <li><a href="#">Support Center</a></li>
                <li><a href="#">Guides</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Licences</a></li>
                <li><a href="#">Privacy & Terms</a></li>
                <li><a href="#">Cookie Settings</a></li>
            </ul>
        </div>
    </div>
</footer>