<div class="getting-started-section">
    <div class="section-container two-column">
        <div class="col-left">
            <h2>What are you waiting for?</h2>
            <p>Explore <a href="#">Swipe</a> now, or create an account and start accepting payments today! If you need a custom package for your business, let's chat today.</p>
            <button class="primary-button with-icon">
                Start now
                <img src="images/arrow-right-light.svg" alt="">
            </button>
        </div>
        <div class="col-right">
            <div class="card">
                <img class="icon" src="images/shield-icon.png" alt="">
                <h3>Always know what you pay</h3>
                <p class="secondary-text">Integrated per-transaction pricing with no hidden fees.</p>
                <button class="secondary-button with-icon">
                    Pricing details
                    <img src="images/arrow-right-purple.svg" alt="">
                </button>
            </div>
            <div class="card">
                <img class="icon" src="images/bars-icon.png" alt="">
                <h3>Start your integration</h3>
                <p class="secondary-text">Get up and running with Stripe in as little as 10 minutes.</p>
                <button class="secondary-button with-icon">
                    API reference
                    <img src="images/arrow-right-purple.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>