<div class="integration-section">
    <div class="section-container two-column">
        <div class="col-left">
            <p class="subtitle2">Designed For Engineers</p>
            <h2>The world's best and most intuitive APIs</h2>
            <p>We abstract the hard stuff away so your teams can focus on building good technology, instead of spending time and money reinventing the wheel.</p>
            <button class="primary-button with-icon">
                Start now
                <img src="images/arrow-right-dark.svg" alt="">
            </button>
            <div class="card-container">
                <div class="card">
                    <img src="images/tools-icon.png" alt="" class="icon">
                    <h3>Tools for all stacks</h3>
                    <p class="secondary-text">We offer front end and back end libraries in some of the most widely used technologies, old and new.
                    </p>
                    <button class="secondary-button with-icon">
                        See libraries
                        <img src="images/arrow-right-blue.svg" alt="">
                    </button>
                </div>
                <div class="card">
                    <img src="images/cube-icon.png" alt="" class="icon">
                    <h3>Custom Integrations</h3>
                    <p class="secondary-text">Use integrations for systems like Shopify, WooCommerce, NeetSuite, and more.
                    </p>
                    <button class="secondary-button with-icon">
                        Explore partners
                        <img src="images/arrow-right-blue.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-right">
            <img src="images/api-code.png" alt="" id="api-code">
            <img src="images/terminal-code.png" alt="" id="terminal-code">
        </div>
    </div>
</div>