<div class="partners-section">
    <div class="section-container">
        <div class="partners-grid">
            <img src="images/instacart.png" alt="instacart">
            <img src="images/salesforce.png" alt="salesforce">
            <img src="images/amazon.png" alt="amazon">
            <img src="images/slack.png" alt="slack">
            <img src="images/shopify.png" alt="shopify">
            <img src="images/google.png" alt="google">
            <img src="images/lyft.png" alt="lyft">
            <img src="images/zoom.png" alt="zoom">
        </div>
    </div>
</div>