<div class="unified-platform-section">
    <div class="section-container">
        <p class="subtitle">Unified platform</p>
        <h2>All payments products you'll ever need</h2>

        <div class="two-column">
            <div class="col-left">
                <p>
                    We've got everything you'll need and more to build websites and apps that handle payments, payouts, and much more. Swipe's products power payments for 
                    <a href="#">all kinds of retailers</a>, 
                    <a href="#">all kinds of businesses</a>, 
                    <a href="#">software platforms & marketplaces</a>, 
                    and everything in between.
                </p>
            </div>
            <div class="col-right">
                <p>
                    We also help companies 
                    <a href="#">tackle fraud</a>, 
                    <a href="#">issue invoices</a>, 
                    <a href="#">send virtual and physical cards</a>, 
                    <a href="#">manage financing</a>, 
                    <a href="#">wrangle business spend</a>, 
                    and much more.
                </p>
            </div>
        </div>
        <button class="primary-button with-icon">
            Start now
            <img src="images/arrow-right-light.svg" alt="">
        </button>
    </div>
</div>