<div class="virtual-events-section">
    <div class="section-container two-column">
        <div class="col-left">
            <p class="subtitle">Virtual Events</p>
            <h2>Check out Sessions now!</h2>
            <p>Swipe Sessions is our annual conference - it's now available to watch on demand! Check it out and become an "internet economy" genius, and see how Swipe can transform the way you do business online.
            </p>
            <button class="primary-button with-icon">
                Start now
                <img src="images/arrow-right-light.svg" alt="">
            </button>
        </div>
        <div class="col-right">
            <div class="swipe-session-card">
                <div class="card-top">
                    <img id="sessions-logo" src="images/swipe-sessions.png" alt="">
                    <div class="avatars">
                        <img src="images/avatar1.png" alt="">
                        <img src="images/avatar2.png" alt="">
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-content">
                        <p class="subtitle">Keynote</p>
                        <p class="secondary-text">Everything you need to know about the internet economy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>