<div class="why-swipe-section">
    <div class="section-container">
        <p class="subtitle">Why Swipe</p>
        <h2>A tech-first approach to finance</h2>
        <div class="card-container">
            <div class="card">
                <img src="images/cloud-icon.png" alt="icon">
                <h3>Efficient Always</h3>
                <p class="secondary-text">
                    We've optimized every level of the finance stack, from integrations to prebuilt checkout flows - no detail has been spared.                        </p>
            </div>
            <div class="card">
                <img src="images/cycle-icon.png" alt="icon">
                <h3>Fast-Improving</h3>
                <p class="secondary-text">
                    We make constant updates and improvements to help you stay on the cutting edge of your industry, deploying to production around 20X per day!
                </p>
            </div>
            <div class="card">
                <img src="images/shield-icon.png" alt="icon">
                <h3>Tried and True</h3>
                <p class="secondary-text">
                    Our systems operate with 100% uptime, with scalability and uptime as a guarantee. Swipe is super duper certified so don't worry
                </p>
            </div>
            <div class="card">
                <img src="images/bars-icon.png" alt="icon">
                <h3>Crazy Optimized</h3>
                <p class="secondary-text">
                    We use machine learning trained on billions of data points to help optimize all products, from fraud to revenue recovery and more.
                </p>
            </div>
        </div>
    </div>
</div>